<%- include('./partials/head') %>

<main>
    <h1><%= squad.name %></h1>
  
    <button><a href="/squad-a">Squad A</a></button>
    <button><a href="/all">Squad B</a></button>
    <button><a href="/squat-c">Squad C</a></button>
    <hr />
  

    <hr />
    <section class="members">
      <!-- Met de loop Foreach haal ik alle data op van alle members. Hij gaat langs alle members -->
      <% squad.members.forEach(member => { %>
      <!-- Hier zie je de data die ik graag op de pagina wil hebben.  -->
      <article>
        <% if (member.avatar) { %>
        <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
        <% }else{ %>
        <img src="/placeholder.jpg" alt="Placeholder avatar" />
        <% } %>
        <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
      </article>
      <% }) %>
    </section>
  </main>

<%- include('./partials/foot') %>